
@{
    ViewBag.Title = "FindQuotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="padding-top: 20px">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block border-right bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#item-1">
                            <span data-feather="film"></span>
                            Movies <span class="sr-only">(current)</span>
                        </a>
                        <div id="item-1" class="collapse">
                            <ul class="nav flex-column ml-3">
                                @foreach (var genre in Model.Genres)
                                {
                                    <li id="@genre.Name Movies">
                                        <a id="@genre.Name-moviesitem" value="@genre.Id" class="nav-link" href="#">@genre.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#item-2">
                            <span data-feather="tv"></span>
                            TV Shows <span class="sr-only">(current)</span>
                        </a>
                        <div id="item-2" class="collapse">
                            <ul class="nav flex-column ml-3">
                                @foreach (var genre in Model.Genres)
                                {
                                    <li id="@genre.Name TV Shows">
                                        <a id="@genre.Name-tvsitem" value="@genre.Id" class="nav-link" href="#">@genre.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-2 px-4">
            <h4 id="header" style="text-align: center; padding-top: 20px; padding-bottom: 20px">All Titles</h4>
            <form id="myForm">
                @foreach (var movie in Model.Movies)
                {
                    <input type="checkbox" id=@movie.Id value="@movie.Title" unchecked />
                    <label for=@movie.Id>
                        @{
                        var charactersGettingRidded = new string[] {"/", @"\", ":", "*", "?", "\"", "<", ">", "|"};
                            var imageName = movie.Title;
                        foreach (var c in charactersGettingRidded)
                        {
                        imageName = imageName.Replace(c, "");
                        }
                            var path = imageName + ".jpg";
                        }
                        
                        <img src="../../images/@path"/>
                    </label>
                }
            </form>

            <form id="myForm2" style="text-align: center;" hidden></form>

            <button id="Find" class="btn btn-primary btn-lg btn-block">Find Quotes</button>

        </main>
    </div>
</div>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

@Styles.Render("~/content/fancychecbox.css")

@section scripts
{
    <script>
        $(document).ready(function () {

            $("input[type=checkbox]").prop("checked",false);

            var moviesNames = "";
            $(document).on("change",
                "input[type=checkbox]",
                function() {
                    var arr = [];
                    $(":checkbox").each(function() {
                        if ($(this).is(":checked")) {
                            arr.push($(this).val());
                        }
                    });

                    moviesNames = arr.join("arrJoin").replace("arrJoinon", "").replace(/'/g, "singleQuote");
                    
                    console.log(arr.length);
                });

            $("#Find").on("click",
                function() {
                    console.log(moviesNames);
                    if (moviesNames == "" || moviesNames == "on")
                        return toastr.error("Mark some movies");
                    window.location.href = "/quotes/allquotes?moviesName=" + moviesNames;
                });
            var genre;
            var element;
            $("li>div>ul>li").on("click",
                function () {
                    $("#Find").prop("hidden", false);
                    $("#"+element).attr("class", "nav-link");
                    element = $("a", this).attr("id");
                    genre = $(this).attr("id");
                    $("#header").text(genre);

                    var url = "";
                    if (genre.includes("Movies")) {
                        url = "/api/movies/getmoviesbygenre/" + $("a", this).attr("value");
                    } else
                        url = "/api/movies/gettvsbygenre/" + $("a", this).attr("value");

                    var result = $.ajax({
                        url: url,
                        method: "GET",
                        async: false
                    }).responseJSON;

                    $("#" + element).prop("class", "nav-link active");
                    $("#myForm").attr("hidden", true);
                    $("#myForm2").attr("hidden", false);
                    $("#myForm2").html("");

                    if (result.length == 0) {
                        $("#header").text("Sorry we don't have any titles for that genre yet");
                        $("#Find").prop("hidden", true);
                    }

                    for (var i = 0; i < result.length; i++) {
                        var title = result[i].title;
                        var imagePath = title;
                        var charactersGettingRidded = ["/", ":","\\", "*", "?", "\"", "<", ">", "|"];
                        for (var j = 0; j < charactersGettingRidded.length; j++)
                            imagePath = imagePath.replace(charactersGettingRidded[j], "");
                        imagePath = imagePath + ".jpg";

                        $('#myForm2').append('<input type="checkbox" id="' +
                            title +
                            '" value="' +
                            title +
                            '"/><label for="' +
                            title +
                            '"><img src="' +
                            '../../images/' +
                            imagePath +
                            '"></label>');
                    }
                });
        });
    </script>
}
