
@{
    ViewBag.Title = "FindQuotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid" style="padding-top: 20px">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block border-right bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#item-1">
                            <span data-feather="film"></span>
                            Movies <span class="sr-only">(current)</span>
                        </a>
                        <div id="item-1" class="collapse">
                            <ul class="nav flex-column ml-3">
                                @foreach (var genre in Model.Genres)
                                {
                                    <li>
                                        <a id="@genre.Name Movies" value="@genre.Id" class="nav-link moviesItem" href="#">@genre.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" data-toggle="collapse" href="#item-2">
                            <span data-feather="tv"></span>
                            TV Shows <span class="sr-only">(current)</span>
                        </a>
                        <div id="item-2" class="collapse">
                            <ul class="nav flex-column ml-3">
                                @foreach (var genre in Model.Genres)
                                {
                                    <li>
                                        <a id="@genre.Name TV Shows" value="@genre.Id" class="nav-link tvsItem" href="#">@genre.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-2 px-4">
            <h4 id="header" style="text-align: center; padding-top: 20px; padding-bottom: 20px">All Titles</h4>
            <form id="allTitles">
                @foreach (var movie in Model.Movies)
                {
                    <input type="checkbox" id=@movie.Id value="@movie.Title" unchecked />
                    <label for=@movie.Id>
                        @{
                        var charactersGettingRidded = new string[] {"/", @"\", ":", "*", "?", "\"", "<", ">", "|"};
                            var imageName = movie.Title;
                        foreach (var c in charactersGettingRidded)
                        {
                        imageName = imageName.Replace(c, "");
                        }
                            var path = imageName + ".jpg";
                        }
                        
                        <img src="../../images/@path"/>
                    </label>
                }
            </form>

            <form id="genreTitles" style="text-align: center;" hidden></form>

            <button id="Find" class="btn btn-primary btn-lg btn-block">Find Quotes</button>

        </main>
    </div>
</div>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace()
</script>

@Styles.Render("~/content/fancychecbox.css")

@section scripts
{
    <script>
        $(document).ready(function () {

            $("input[type=checkbox]").prop("checked",false);

            var moviesNames = "";
            $(document).on("change",
                "input[type=checkbox]",
                function() {
                    var arr = [];
                    $(":checkbox").each(function() {
                        if ($(this).is(":checked")) {
                            arr.push($(this).val());
                        }
                    });

                    moviesNames = arr.join("arrJoin").replace("arrJoinon", "").replace(/'/g, "singleQuote");
                    
                    console.log(arr.length);
                });

            $("#Find").on("click",
                function() {
                    console.log(moviesNames);
                    if (moviesNames == "" || moviesNames == "on")
                        return toastr.error("Mark some movies");
                    window.location.href = "/quotes/allquotes?moviesName=" + moviesNames;
                });

            var element;
            $('.moviesItem, .tvsItem').on("click",
                function () {
                    console.log("do stuff")
                    //hide All Titles form to make a room for titles for clicked genre
                    $("#allTitles").attr("hidden", true);

                    // Show form for clicked genre Titles, clear form state
                    $("#genreTitles").attr("hidden", false);
                    $("#genreTitles").html("");

                    //if there wasn't any titles for previous genre, set button as unhidden in next click
                    $("#Find").prop("hidden", false);

                    //Set previous genre link back to unactive
                    $(element).attr("class", "nav-link");

                    //Set current genre link to active
                    element=$(this).attr("class", "nav-link active");
                    
                    //Set appropriate header
                    $("#header").text($(this).attr("id"));

                    //Distinguish Movie Item from TV Show item to generate appropriate ajax url
                    var url = "";
                    if ($(this).attr("id").includes("Movies")) {
                        url = "/api/movies/getmoviesbygenre/" + $(this).attr("value");
                    } else
                        url = "/api/movies/gettvsbygenre/" + $(this).attr("value");

                    //Load titles for clicked genre and production type, store result in variable
                    var result = $.ajax({
                        url: url,
                        method: "GET",
                        async: false
                    }).responseJSON;

                    //If titles for that genre don't exist, hide Find button and display message
                    if (result.length == 0) {
                        $("#header").text("Sorry we don't have any titles for that genre yet");
                        $("#Find").prop("hidden", true);
                        return;
                    }

                    //Get rid of unallowed marks for files names to load images
                    for (var i = 0; i < result.length; i++) {
                        var title = result[i].title;
                        var imagePath = title;
                        var charactersGettingRidded = ["/", ":","\\", "*", "?", "\"", "<", ">", "|"];
                        for (var j = 0; j < charactersGettingRidded.length; j++)
                            imagePath = imagePath.replace(charactersGettingRidded[j], "");
                        imagePath = imagePath + ".jpg";

                        //Load appropriate image-checkboxes
                        $('#genreTitles').append('<input type="checkbox" id="' +
                            title +
                            '" value="' +
                            title +
                            '"/><label for="' +
                            title +
                            '"><img src="' +
                            '../../images/' +
                            imagePath +
                            '"></label>');
                    }
                });
        });
    </script>
}
